<?xml version="1.0"?>
<config>
    <modules>
        <Clever_Adwords>
            <version>1.0.0</version>
        </Clever_Adwords>
    </modules>
    <global>
        <blocks>
            <clever_adwords>
                <class>Clever_Adwords_Block</class>
            </clever_adwords>
        </blocks>
        <helpers>
            <clever_adwords>
                <class>Clever_Adwords_Helper</class>
            </clever_adwords>
        </helpers>
        <models>
            <clever_adwords>
                <class>Clever_Adwords_Model</class>
            </clever_adwords>
        </models>
        <resources>
            <clever_adwords_setup>
                <setup>
                    <module>Clever_Adwords</module>
                </setup>
            </clever_adwords_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <clever_adwords>
                <use>standard</use>
                <args>
                    <frontName>adwords</frontName>
                    <module>Clever_Adwords</module>
                </args>
            </clever_adwords>
        </routers>
    </frontend>
    <admin>
        <routers>
            <discounts>
                <use>admin</use>
                <args>
                    <module>Clever_Adwords</module>
                    <frontName>adwords</frontName>
                </args>
            </discounts>
        </routers>
    </admin>
</config>
