<?xml version="1.0"?>
<config>
    <modules>
        <Clever_Adwords>
            <version>1.0.0</version>
        </Clever_Adwords>
    </modules>
    <global>
        <blocks>
            <clever_adwords>
                <class>Clever_Adwords_Block</class>
            </clever_adwords>
        </blocks>
        <helpers>
            <clever_adwords>
                <class>Clever_Adwords_Helper</class>
            </clever_adwords>
        </helpers>
        <models>
            <clever_adwords>
                <class>Clever_Adwords_Model</class>
            </clever_adwords>
            <clever_adwords_service>
                <class>Clever_Adwords_Service</class>
            </clever_adwords_service>
        </models>
        <resources>
            <clever_adwords_setup>
                <setup>
                    <module>Clever_Adwords</module>
                </setup>
            </clever_adwords_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <clever_adwords_lib_load>
                        <type>singleton</type>
                        <class>clever_adwords/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </clever_adwords_lib_load>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <clever_adwords>
                <use>standard</use>
                <args>
                    <frontName>adwords</frontName>
                    <module>Clever_Adwords</module>
                </args>
            </clever_adwords>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adwords>
                <use>admin</use>
                <args>
                    <module>Clever_Adwords</module>
                    <frontName>adwords</frontName>
                </args>
            </adwords>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <adwords>
                    <file>clever_adwords/admin.xml</file>
                </adwords>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <adwords>
                                            <title>Clever Adwords</title>
                                        </adwords>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <adwords>
            <general>
                <iframe_url>https://cleverppc.com/</iframe_url>
            </general>
            <api>
                <api_url>https://magento.cleverecommerce.com/api/magento/</api_url>
                <email>magento@cleverppc.com</email>
                <password>cleverppc</password>
                <register_endpoint>create_shop</register_endpoint>
            </api>
        </adwords>
    </default>
</config>
